*{
    padding:0;
    margin:0;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background:url("pay.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.lang{
    display:flex;
    justify-content: end;
    justify-items: end;
    background-color: #3d3d3d;
    height:70px;
    }
    .lang p{
    color:white;
    margin-top:8px;
    margin-right:8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
}
header {
    background-color: #662121;
    background-image: linear-gradient(316deg, #672020 0%, #ff9933 74%);
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size:28px;
    font-weight:bold;
    }
    section {
        max-width: 800px;
        margin: 2em auto;
        text-align: center;
        padding: 2em;
        background-color:rgb(252, 241, 227);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
    p {
        color: #555;
        line-height: 1.6;
    }
    .calendar {
        max-width: 600px;
        margin: 0 auto;
      }
  
      .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
      .calendar-header h2 {
        margin: 0;
      }
  
      .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
      }
  
      .calendar-day {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
        position: relative;
      }
  
      .calendar-day:hover {
        background-color: #f0f0f0;
        cursor: pointer;
      }
  
      .event {
        border: 2px solid rgb(118, 55, 55);
        border-radius: 50%;
      }
      .event:hover{
        cursor: pointer;
        background-color: #ff9933;
        transition:1s;
      }
  
      .event-tooltip {
        position: absolute;
        left: 50%;
        height:auto;
        width:120px;
        top: calc(100% + 5px);
        transform: translateX(-50%);
        background-color:white;
        border: 1px solid #ccc;
        padding: 10px;
        display: none;
        z-index: 1;
      }
      h2{
        color:darkred;
        border-bottom: 2px solid #333;
        padding-bottom: 0.5em;
        margin-bottom: 1em;
        text-align: center;
    }
